<%- include('./partials/header.ejs', {title: "contact"});  %>

<h1>les articles</h1>
<ul>
    <% for (let article of articles){ %>
    <li><a href="<%= `articles/${article.slug}` %>"><%= article.title %></a></li>
    <% } %>
</ul>

<%- include('./partials/footer.ejs') %> 
