
a{
    text-decoration: none;
    color: black;
}
.ul{
    display: flex;
    justify-content: right;
}
.navtem{
    height: 20px;
    width: 80px;
    border-right: 1px solid black;
    text-align: center;
    list-style: none;
}
.navtemNone{
    border-right: none;

}
